# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - none

parameters:
- name: azure_pipeline_variables # שם הפרמטר שמכיל את ה-JSON
  type: string
  default: '{}'

pool:
  name: "Default"

steps:
- powershell: |
    # הפיכת מחרוזת ה-JSON לאובייקט PowerShell
    $jsonObj = '${{ parameters.azure_pipeline_variables }}' | ConvertFrom-Json
    
    # הדפסת הערכים מתוך האובייקט
    Write-Host "Value of variable 1 is: $($jsonObj.variable1)"
    Write-Host "Value of variable 2 is: $($jsonObj.variable2)"
  displayName: 'Parse and Display JSON'
