# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - none
pr:
  - none

pool:
  name: "Default"

variables:
  - name: IMAGE_TAG
    value: "latest"
  - name: acr_server
    value: "adir395.azurecr.io"
  - name: image_name
    value: "my-app"
  - name: service_connection
    value: "ACR"

jobs:
  - job: DeployAndVerify
    displayName: "Deploy to Production"
    steps:
      # 1. התחברות מאובטחת ל-Azure Container Registry
      # השלב הזה משתמש ב-Service Connection שיצרת ב-Project Settings
      - task: Docker@2
        displayName: "Login to ACR"
        inputs:
          containerRegistry: "$(service_connection)"
          command: "login"

      - script: |
          echo "Cleaning old container..."
          docker stop $(image_name) || true
          docker rm $(image_name) || true

          echo "Pulling latest image..."
          docker pull $(acr_server)/$(image_name):latest

          echo "Starting new container..."
          docker run -d \
            --name $(image_name)\
            -p 8080:8080 \
            $(acr_server)/$(image_name):latest
        displayName: "Deploy Docker Container"

      # 3. הצגת פלט האפליקציה (Application Logs)
      # זהו השלב שביקשת - הוא מדפיס את מה שהאפליקציה כותבת ל-Console
      - script: |
          echo "--- Application Output (Logs) ---"
          docker logs $(image_name)
          echo "---------------------------------"
        displayName: "Fetch Application Logs"

        # timeout /t 10 /nobreak

        # displayName: "Pull and Run Docker Container with Specific Tag"
        #   docker logs test-container
        #   docker ps
