# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - none
pr:
  - none

pool:
  name: "Default"

variables:
  - name: IMAGE_TAG
    value: "latest"

jobs:
  - job: DeployDockerContainer
    displayName: Deploy Docker Container
    steps:
      - script: |
          echo "Deploying version: $(IMAGE_TAG)"

          docker pull adir395/my-app:$(IMAGE_TAG)

          docker stop test-container || true
          docker rm test-container || true

          docker run -d --name test-container -p 8080:8080 adir395/my-app:$(IMAGE_TAG)

          timeout /t 10 /nobreak
          docker logs test-container
          docker ps
        displayName: "Pull and Run Docker Container with Specific Tag"
